.table {
  margin-top: 2rem;
  border-collapse: collapse;
  font-size: 0.8rem;
  width: 100%;
}
.table tr {
  border: 2px solid #eee;
}
.table th div {
  text-align: start;
  border-left: 2px solid #aaa;
  margin: 0.7rem 0rem;
  padding-left: 2px;
}
.table td {
  padding: 1rem 0.5rem;
}
